.Person {
	max-width: 300px;
	margin: 16px auto;
	padding: 20px;
	border: 1px solid #d1d1d1;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	background-color: white;
}

@media (min-width: 700px) {
	.Person {
		max-width: 500px;
	}
}