body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
	background: #f2f2f2;

}
h1 {
	margin: 20px;
}

.App {
	margin: 0px;
}

.red {
  color:red;
}

.bold {
  font-weight: bold;
}